{% extends 'base.html' %}
{% block content %}
    <center>
        <h1>{{ object.title }}</h1>
        <p>敘述：  {{ object.description }}</p>
        <p>概要：  {{ object.summary }}</p>
        <p>價格：  {{ object.price }}</p>

        <button type="submit"> <a href='../'> 回到清單 </a></button>
        <button type="submit"> <a href='../../3dtest/'> 模擬配戴試看 </a></button>
        <button type="submit"> <a href='update/'> 更新 </a></button>
        <button type="submit"> <a href='delete/'> 刪除 </a></button>
    </center>
{% endblock %}